
<title>Gridzy Demo: combined with lightbox</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />



<!-- preview-related stylesheets -->
<link rel="stylesheet" href="assets/preview-assets/main.css" />



<!-- preview-related stylesheets for magnific-popup -->
<link rel="stylesheet" href="assets/preview-assets/magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="assets/preview-assets/magnific-popup-config.css">



<!-- preview-related Sources for magnific-popup -->
<script src="assets/preview-assets/jquery-1.9.1.min.js"></script>
<script src="assets/preview-assets/magnific-popup/jquery.magnific-popup.js"></script>



<!-- Gridzy files -->
<div id="portfolioheading" class="foo">
<p><strong>PORTFOLIO</strong></p>
</div>


<!-- gallery code -->
<div class="gridzy gridzyFullOverlay gridzyAnimated" style="margin:80px">

	<a href="images/Portfolio/Dakar.jpg">
		<img src="images/Portfolio/Dakar.jpg" alt="marché,dakar">
		<span class="text-center" style="padding-top:80px">Marché Dakarois</span >
	</a>
	
	<a href="images/Portfolio/artesanias-g.jpg">
		<img src="images/Portfolio/artesanias-g.jpg" alt="1024*768">
		<span class="text-center" style="padding-top:80px">Artesanias, Guanajuato</span >
	</a>
	<a href="images/Portfolio/boyplaya.jpg">
		<img src="images/Portfolio/boyplaya.jpg" alt="1920x1080">
		<span class="text-center" style="padding-top:80px">Boy en la Playa Virgen </span >
	</a>
	<a href="images/Portfolio/Jade.jpg">
		<img src="images/Portfolio/Jade.jpg" alt="">
		<span class="text-center" style="padding-top:80px"> Fillette dans un parc</span >
	</a>
	<a href="images/Portfolio/filleruelle.jpg">
		<img src="images/Portfolio/filleruelle.jpg" alt="1024*768">
		<span class="text-center" style="padding-top:80px">Fillette dans une callejon, Guanajuato</span >
	</a>
	<a href="images/Portfolio/canon3.jpg">
		<img src="images/Portfolio/canon3-petit.jpeg" alt="400*400">
		<span class="text-center" style="padding-top:80px">Affiche publicitaire canon</span >
	</a>
	<a href="images/Portfolio/dispersion-final.jpg">
		<img src="images/Portfolio/dispersion-final.jpg" alt="1920*1080">
		<span class="text-center" style="padding-top:80px">Technique de la dispersion</span >
	</a>

	<a href="images/Portfolio/papatradi.jpg">
		<img src="images/Portfolio/papatradi.jpg" alt="1920*1080">
		<span class="text-center" style="padding-top:80px">Tenue Traditionnelle - Bangangté</span >
	</a>
	<a href="images/Portfolio/kris.jpg">
		<img src="images/Portfolio/kris.jpg" alt="1920*1080">
		<span class="text-center" style="padding-top:80px"> Passante au Marché</span >
	</a>
	<a href="images/coca-d.jpg">
		<img src="images/coca-d.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Affiche publicitaire Coca-Cola</span >
	</a>
	<a href="images/Portfolio/oiseau.jpg">
		<img src="images/Portfolio/oiseau-d.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Islas Marietas</span >
	</a>
	<a href="images/Portfolio/grandmere.jpg">
		<img src="images/Portfolio/grandmere.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Beauté de l'âge</span >
	</a>
	<a href="images/Portfolio/volcano.jpg">
		<img src="images/Portfolio/volcano.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Nevada de Toluca</span >
	</a>
	<a href="images/Portfolio/pelican.jpg">
		<img src="images/Portfolio/pelican.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Playa Virgen</span >
	</a>
	<a href="images/Portfolio/zona.jpg">
		<img src="images/Portfolio/zona.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Zona arcqueologica</span >
	</a>
	<a href="images/Portfolio/guanajuato2.jpg">
		<img src="images/Portfolio/guanajuato2.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Détermination</span >
	</a>
	<a href="images/Portfolio/juju.jpg">
		<img src="images/Portfolio/juju.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Afrostyle</span >
	</a>
	<a href="images/Portfolio/zona2.jpg">
		<img src="images/Portfolio/zona2.jpg" alt="">
		<span class="text-center" style="padding-top:80px" >Flores arqueologicas</span >
	</a>
	<a href="images/Portfolio/jadeeau.jpg">
		<img src="images/Portfolio/jadeeau.jpg" alt="">
		<span class="text-center" style="padding-top:80px" >Joie à l'état pur</span >
	</a>
	<a href="images/Portfolio/IMG_0271.JPG">
		<img src="images/Portfolio/IMG_0271.JPG" alt="">
		<span class="text-center" style="padding-top:80px">Nevada de Toluca</span >
	</a>
	<a href="images/Portfolio/matisse.jpg">
		<img src="images/Portfolio/matisse.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Le plus beau des sourires</span >
	</a>
	<a href="images/Portfolio/profil-nb.jpg">
		<img src="images/Portfolio/profil-nb.jpg" alt="">
		<span class="text-center" style="padding-top:80px">Portrait - Noir et Blanc</span >
	</a>
	
	
	
</div>

<div class="retour"><button type="button" class="btn btn-info bt-sm" data-target="index.html">
       retour à l'accueil
</button>
</div>

<!-- preview-related initialization function for magnific-popup -->
<script>
	function initializeMagnificPopupForGridzy() {
		// initialize Magnific Popup Lightbox
		$('.gridzy').magnificPopup({
			delegate: 'a',
			type: 'image',
			mainClass: 'mfp-with-zoom mfp-img-mobile',
			image: {
				verticalFit: true,
				titleSrc: function(item) {
					return item.el.find('span ')[0].innerText;
				}
			},
			gallery: {
				enabled: true
			},
			zoom: {
				enabled: true,
				duration: 300, // don't foget to change the duration also in CSS
				opener: function(element) {
					return element.find('img');
				}
			}
		});
	}
</script>

 


<!-- initialize Gridzy -->
<script>
	new Gridzy(document.querySelector('.gridzy'), {
		onOptionsChanged: initializeMagnificPopupForGridzy,
		spaceBetweenElements: 10,
        desiredElementHeight: 308,
	});
</script>
<!-- prevent initial animation -->
<script>
    $('.gridzy').gridzy({
        preventInitialAnimation: true
    });
</script>

<script>
    window.sr = ScrollReveal();
    sr.reveal('.foo', { mobile:'true', origin:'left', duration:"1000", scale:'0.9'});
    sr.reveal('.bar');
    </script>
